<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Fable</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.fable.stories</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.43175125076-hvdnrom5qq83c1f1unhk8v1s0f8g0gej</string>
				<string>com.googleusercontent.apps.1053235904447-qae5e5898mkgsevj0ps7kjbe1k1rg61j</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>16</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Fable allows you to post cover artwork for your Stories and change your User&#39;s profile!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fable allows you to post cover artwork for your Stories and change your User&#39;s profile!</string>
	<key>UIAppFonts</key>
	<array>
		<string>Sofia Pro Black Italic.ttf</string>
		<string>Sofia Pro Black.ttf</string>
		<string>Sofia Pro Bold Italic.ttf</string>
		<string>Sofia Pro ExtraLight Italic.ttf</string>
		<string>Sofia Pro Bold.ttf</string>
		<string>Sofia Pro ExtraLight.ttf</string>
		<string>Sofia Pro Light Italic.ttf</string>
		<string>Sofia Pro Light.ttf</string>
		<string>Sofia Pro Medium Italic.ttf</string>
		<string>Sofia Pro Regular Italic.ttf</string>
		<string>Sofia Pro Medium.ttf</string>
		<string>Sofia Pro UltraLight.ttf</string>
		<string>Sofia Pro UltraLight Italic.ttf</string>
		<string>Sofia Pro SemiBold.ttf</string>
		<string>Sofia Pro SemiBold Italic.ttf</string>
		<string>Sofia Pro Regular.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
